<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <form action="/tweet/now" method="post">
    <input type="text" name="tweet" placeholder="Type your tweet">
    <input id="tweet" type="submit">
  </form>
</div>

<div id="processing" style="display:none">
  <span> Processing . . . </span>
</div>

<div id="results">
</div>
